.box {
  width: 80%;
  background: rgba(211, 210, 202, 0.2);
  border: 5px solid rgba(176, 176, 176, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.server-stats {
  width: 80%;
  justify-content: center;
  padding: 3% 0%;
}

.texto {
  font-size: 400%;
  font-weight: normal;
  padding: 2% 0%;
}

.data {
  justify-content: space-around;
}

img {
  height: 55%;
  width: 55%;
}

.circle {
  align-self: center;
  justify-content: center;
}
